/* font family */
/* link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css" /link */

body {
    font-family: 'Epilogue';
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

  .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }

/* elements */

.horizontal-line {
   width: 100%;
   border-bottom: 1px solid rgb(0, 0, 0); 
   color: white;
   font-size: 0px;
}

.horizontal-line2 {
  width: 400px;
  border-bottom: 1px solid rgb(0, 0, 0); 
  color: white;
  font-size: 0px;
}


/* Navbar */
 
  #navbar {
    background: #fff;
    color: #00FF27;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
    
  #navbar ul {
    list-style: none;
    }


    .links a {
        color: black;
        text-decoration: none;
        padding: 0 10px;
        font-size: 35px;
    }
  
  #navbar ul li a:hover, 
  #navbar ul li a.current {
        color: #00FF27;
        text-decoration: underline;
  }

  .logo1 a {
    font-size: 40px;
    color: #00FF27;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
  }

  .logo a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
  }

  .logo1 a:hover,
  .logo a:hover {
    color: #00FF27;
    text-decoration: line-through;
  }

/* news + preview photos */

    .preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;        
    }
    .preview img {
        width: 400px;
        height: 500px;
        margin-left: 10px;
        margin-right: 0px;
        border-radius: 10px;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;       
        margin-right: 0px;
        margin-left: 60px;
        margin-top: 50px;
    }

    .news {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 41%;
     }
     .news h1 {
        font-size: 15px;
        color: black;
        margin-bottom: 5px;
        font-weight: normal;
     }

     .news h3 {
        font-size: 35px;
        color: black;
        margin: 30px 0px;
        font-weight: normal;
    }
    
     .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap; 
        width: 100%;  
      }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;    
      }

     .news a {
        font-size: 25px;
        color: #00FF27;
        font-weight: normal;
        text-decoration: underline;
     }

     .news a:hover {
        font-size: 25px;
        color: #00FF27;
        font-weight: bold;
    } 
    
/* about */

    .about {
      display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .about_title h1 {
      font-size: 70px;
      color: black;
      margin-bottom: 25px;
      font-weight: normal;
      margin-right: 0px;
      margin-left: 60px;
      margin-top: 75px;
      
    }

    .main_about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: top;       
      margin-right: 0px;
      margin-left: 60px;
      /* margin-top: 80px; */
      margin-bottom: 90px;
  }

  .about h3 {
      font-size: 20px;
      color: black;
      margin: 20px 0px;
      font-weight: normal;}
    
  .about h4 {
      font-size: 15px;
      color: black;
      margin-bottom: 20px;
      font-weight: normal;
      line-height: 190%;
      width: 600px;
  }

/* .photo2 {
  width: 314px;
  height: 314px;
  margin-left: 10px;
  border-radius: 10px;
  
} */

.preview2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 50%;
}

.preview2 img {
  width: 200px;
  height: 200px;
 margin-left: 15px;
  margin-right: 0px;
  border-radius: 10px;
} 

.photo2a img {
  height: 280px;
  width: 280px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
}

.photo2b img {
  height: 240px;
  width: 240px;
  margin-top: -240px;
  margin-left: -20px;
  border-radius: 10px;
}
.photo2c img {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: 390px;
  border-radius: 10px;
}


/* members */

.line {
  margin-left: 175px;
  margin-top: 60px;
}

.line2 svg{
  margin-left: 175px;
  margin-top: 50px;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap: wrap; 
  margin-left: 85px;
  margin-top: 60px;
}

.members h3 {
  font-size: 90px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 25px;

}

.members a {
  color: black;
  font-size: 90px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: none;
}

.members a:hover {
  color: black;
  text-decoration: none;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.preview3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
}

.preview3 img {
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-top: 30px;
  border-radius: 10px;
}

.next_arrow {
  margin-left: 60px;
  margin-bottom: 10px;
}

/* contact */

.contact_title h1 {
  font-size: 70px;
      color: black;
      margin-bottom: 25px;
      font-weight: normal;
      margin-right: 0px;
      margin-left: 1000px;
      margin-top: 120px;
}

.contact_way {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
  margin-top: 40px;
  margin-right: 165px;
}

.contact_way h2 {
  font-size: 40px;
  color: black;
  font-weight: normal;
  margin-right: 20px;
  margin-bottom: 10px;
}

.contact_way h2:hover {
  /* color: #00FF27; */
  font-size: 60px;
  margin-right: 1000px;
}

.contact_way svg {
  margin-bottom: 10px;
  fill:black;
}

.contact_way svg:hover {
  fill: #00FF27;

}

/* work */

.work_line {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* #categ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap; 
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
} */

.work_cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap; 
  
  margin-right: 3px;
  text-decoration: none;
  margin-top: 25px;
}

.work_cat li {
  list-style: none;
}
.work_cat li a {
  font-size: 50px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  margin-left: 10px;
  list-style: none;
}

.work_cat li a:hover {
  font-size: 63px;
  color: black;
}

.work_cat li a:focus {
  font-size: 63px;
  color: black;
}

.work_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; 
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.work_item_number {
  display :flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
}
.work_grid_item img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}


/* footer */

    #support {
        font-size: 23px;
        font-weight: normal;
    }

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #00FF27 8px solid;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -70px;
}

.cross {
    margin: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -45px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    align-items: flex-end;

}

.footer_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: -180px;
  margin-left: 60px;
  margin-right: 60px;
  align-items: flex-end;

}