/* font family */
/* link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css" /link */

body {
    font-family: 'Epilogue';
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow-y: hidden; */
}

/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

  .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }

/* elements */

.horizontal-line {
   width: 100%;
   border-bottom: 1px solid black;

   color: black;
   font-size: 0px;
}

.horizontal-line2 {
  width: 40vw;
  border-bottom: 1px solid black;
  color: black;
  font-size: 0px;
}


/* Navbar */
 
  #navbar {
    background: #fff;
    color: #00FF27;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
    
  #navbar ul {
    list-style: none;
    }


    .links a {
        color: black;
        text-decoration: none;
        padding: 0 10px;
        font-size: 35px;
    }
  
  #navbar ul li a:hover, 
  #navbar ul li a.current {
        color: #00FF27;
        text-decoration: underline;
  }

  .logo1 a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
  }

  .logo a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
  }

  .logo1 a:hover,
  .logo a:hover {
    color: #00FF27;
    text-decoration: line-through;
  }

/* news + preview photos */
    .preview {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 55%;
        margin-left: 1vw;
        /* margin-right: 1vw; */
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;       
        margin-right: 0px;
        margin-left: 3vw;
        margin-top: 5vh;
        width: 95vw;
    }

    .news {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
     }
     .news h1 {
        font-size: 15px;
        color: black;
        margin-bottom: 5px;
        font-weight: normal;
     }

     .news h3 {
        font-size: 35px;
        color: black;
        margin: 30px 0px;
        font-weight: normal;
    }
    
     .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap; 
        width: 100%;
        margin-left: 1px
      }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;    
      }

     .news a {
        font-size: 25px;
        color: #00FF27;
        font-weight: normal;
        text-decoration: underline;
     }

     .news a:hover {
        font-size: 25px;
        color: #00FF27;
        font-weight: bold;
    } 
    
/* about */

    .about {
      display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .about_title h1 {
      font-size: 70px;
      color: black;
      margin-bottom: 25px;
      font-weight: normal;
      margin-right: 0px;
      margin-left: 60px;
      margin-top: 9vh;
      
    }

    .main_about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: top;       
      margin-right: 0px;
      margin-left: 60px;
      /* margin-top: 80px; */
      margin-bottom: 90px;
  }

  .about h3 {
      font-size: 20px;
      color: black;
      margin: 20px 0px;
      font-weight: normal;}
    
  .about h4 {
      font-size: 15px;
      color: black;
      margin-bottom: 20px;
      font-weight: normal;
      line-height: 190%;
      width: 600px;
  }
  
  .about .row h5 {
    font-size: 20px;
    color: black;
    margin: 20px 0px;
    font-weight: normal;}


/* .photo2 {
  width: 314px;
  height: 314px;
  margin-left: 10px;
  border-radius: 10px;
  
} */

.preview2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 50%;
  margin-top: -4vh;
  margin-left: -1px;
}

.preview2 img {
  width: 200px;
  height: 200px;
 margin-left: 10px;
  margin-right: 0px;
  border-radius: 10px;
} 

.photo2a img {
  height: 280px;
  width: 280px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
}

.photo2b img {
  height: 240px;
  width: 240px;
  margin-top: -260px;
  margin-left: -20px;
  border-radius: 10px;
}
.photo2c img {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: 390px;
  border-radius: 10px;
}


/* members */

.line {
  margin-left: 175px;
  margin-top: 60px;
}

.line2 svg{
  margin-left: 175px;
  margin-top: 50px;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap: wrap; 
  margin-left: 85px;
  margin-top: 60px;
}

.members h3 {
  font-size: 90px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 25px;

}

.members a {
  color: black;
  font-size: 90px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 35px;
  text-decoration: none;
}

.members a:hover {
  color: black;
  text-decoration: none;
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.preview3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
}

.preview3 img {
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-top: 30px;
  border-radius: 10px;
}

.next_arrow {
  margin-left: 60px;
  margin-bottom: 10px;
}

/* contact */

.contact_title h1 {
  font-size: 70px;
      color: black;
      margin-bottom: 25px;
      font-weight: normal;
      margin-right: 0px;
      margin-left: 1000px;
      margin-top: 120px;
}

.contact_way {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; 
  margin-top: 40px;
  margin-right: 165px;
}

.contact_way h2 {
  font-size: 40px;
  color: black;
  font-weight: normal;
  margin-right: 20px;
  margin-bottom: 10px;
}

.contact_way h2:hover {
  /* color: #00FF27; */
  font-size: 60px;
  margin-right: 1000px;
}

.contact_way svg {
  margin-bottom: 10px;
  fill:black;
}

.contact_way svg:hover {
  fill: #00FF27;

}

/* work */

.work_line {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* #categ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap; 
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
} */

.work_cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap; 
  
  margin-right: 3px;
  text-decoration: none;
  margin-top: 25px;
}

.work_cat li {
  list-style: none;
}
.work_cat li a {
  font-size: 50px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  margin-left: 10px;
  list-style: none;
}

.work_cat li a:hover {
  font-size: 63px;
  color: black;
}

.work_cat li a:focus {
  font-size: 63px;
  color: black;
}

.work_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; 
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.work_item_number {
  display :flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
}
.work_grid_item img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}


/* footer

    #support {
        font-size: 23px;
        font-weight: normal;
    }

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #00FF27 8px solid;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -70px;
}

.cross {
    margin: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -45px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    align-items: flex-end;

}

.footer_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: -180px;
  margin-left: 60px;
  margin-right: 60px;
  align-items: flex-end;

} */

/* footer */

.footer-basic {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color:#ffffff;
  color:#000000;
  margin-bottom: -1vh;
  margin-top: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
}


.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:14px;
  margin-bottom:0;
}


.footer-basic ul a {
  color:inherit;
  text-decoration:none;
}

.footer-basic ul a:hover {
  color: #00FF27;
}

.footer-basic .social {
  text-align:right;
  padding-bottom:1vw;
  padding-right: 1vw;
}

.footer-basic .social > a {
  font-size:16px;
  width:20px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  /* border-radius:50%;
  border:1px solid #ccc; */
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  color: #00FF27;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* footer about */

.footer-basic-about {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color:#ffffff;
  color:#000000;
  margin-bottom: -1vh;
  margin-top: -82px;
  margin-left: 1vw;
  margin-right: 1vw;
}


.footer-basic-about ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:14px;
  margin-bottom:0;
}


.footer-basic-about ul a {
  color:inherit;
  text-decoration:none;
}

.footer-basic-about ul a:hover {
  color: #00FF27;
}

.footer-basic-about .social {
  text-align:right;
  padding-bottom:1vw;
  padding-right: 1vw;
}

.footer-basic-about .social > a {
  font-size:16px;
  width:20px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  /* border-radius:50%;
  border:1px solid #ccc; */
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic-about .social > a:hover {
  color: #00FF27;
}

.footer-basic-about .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* CAROUSEL */

/* Position the image container (needed to position the left and right arrows) */
.container-carousel {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-right: 6rem; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
   height: 500px;
   width: 500px;
   margin-top: -1rem;
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 605px;
  justify-content: space-between;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, 
.next {
  cursor: pointer;
  padding: 5px;
  user-select: none;
  -webkit-user-select: none;
}

.prev svg {
  fill: black;
}

.next svg {
  fill: black;
}

.prev :hover {
  fill: #00FF27;
}

.next :hover {
  fill: #00FF27;
}



/* Position the "next button" to the right */
.next {
  right: 0;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #00FF27;
  font-size: 9px;
  
  font-weight: bold;
  position: relative;
  top: 0;
}
.caption-number {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -1.3rem;
  margin-left: 0.5rem;
  position: absolute;
}
.caption {
  font-size: 12px;
  padding-top: 0.5rem;
}

.column-carousel {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  align-items: center;
  width: 80px; ;
  margin-left: 3rem;
}

.column-carousel:after {
  content: "";
  display: table;
  clear: both;
}



/* Six rows */
.row-carousel {
  float: left;
  
}

.row-carousel img {
  height: 50px;
  width: 50px;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.5;
}

.active,
.demo:hover {
  opacity: 1;
}

.caption-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center;
  height: 500px;
  width: 20px;
}

.caption-container p{
font-size: 10px;
line-height: 10px;
transform: rotate(-90deg);
width: 150px;
margin-bottom: 6rem;
}

.play-stop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30px;
}

.play-stop svg {
  fill: black;
}

.play-stop svg :hover {
  fill: #00FF27;

}
